@using Store.Pager
@model PersonListViewModel
@{
    ViewBag.Title = "YOo YoO";
}


@foreach (var item in Model.data.Data)
{
    @Html.Partial("_ItemsSummery", item)
}

<div id="pager-bottom">
    <div class="btn-group m-1" page-model="Model.data.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-success" page-class-selected="btn-success"></div>
</div>


