@model Person

<div style="margin: 10rem 0 ">
    <h1><small>@Model.Id </small>-
        <strong>
            @Model.FirstName @Model.LastName
        </strong>
    </h1>
    <p>Category Customers : <strong>@Model.categoryCustomers</strong></p>
</div>