<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class=row>
        <div class="col-3">sideBox</div>
        <div class="col-9 container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
